.contact-container {
    max-width: 760px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.contact-info {
    padding-left: 10px;
    padding-right: 10px;
}

.contact-detail-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.contact-icon {
    font-size: 1.3rem;
}