body {
    overflow-y: scroll;
}

.project-container {
    max-width: 900px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.project-header {
    padding-left: 15px;
    padding-right: 15px;
}

.notice-content {
    color: gray;
}

.detail-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.project-title {
    margin-top: 25px;
}

.project-body {
    text-align: justify;
    padding-left: 15px;
}