a {
    color: #00aedb;
}

section {
    margin: auto;
    max-width: 860px;
    border-left: 0.5px solid #dddddd;
    border-right: 0.5px solid #dddddd;
}

/* Mobile or Tablet */
@media only screen and (max-width: 768px) {
    body {
        line-height: 1.5;
        font-size: 1.2rem;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    body {
        padding-bottom: 20px;
        line-height: 1.5;
        font-size: 1rem;
    }
}
