
body {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    line-height: 1.5;
}

section {
    margin: auto;
    max-width: 950px;
    border-left: 0.5px solid #DDDDDD;
    border-right: 0.5px solid #DDDDDD;
}

.cv-navs {
    width: 100%;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 0.5px solid #DDDDDD;
    font-size: 11pt;
}

.cv-header {
    height: 10vh;
    background-image: linear-gradient(to bottom right, #fff1eb, #ace0f9);
    border-top: 0.5px solid #DDDDDD;
    margin-top: 60px;
}

.cv-body {
    min-height: 150vh;
    background-color: rgb(250, 250, 250);
}

.cv-footer {
    height: 10vh;
    background-color: #DDDDDD;
    border-bottom: 0.5px solid #DDDDDD;
}

.div-header {
    padding-top: 18px;
}

.div-footer {
    padding-top: 20px;
    color: gray;
    font-size: 13px;
}

.div-body {
    padding: 25px;
}

.img-profile {
    width: 45%;
    border-radius: 50%;
}

.div-name {
    margin-top: 30px;
}

.body-left {
    margin-right: 10px;
}

.body-right {
    margin-left: 10px;
    text-align: left;
}

.body-center {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.tb-contact {
    width: 100%;
}

.tb-contact tr { 
    /*line-height: 30px;*/
}

.tb-contact tr td { 
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.h2-name {
    font-family: 'Roboto', sans-serif;
}

.h3-title {
    border-bottom: 0.5px solid gray;
    color: rgb(100, 100, 100);
    text-align: left;
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
}

.fas {
    color: rgb(100, 100, 100);
}

.tb-social {
    width: 100%;
}

.img-social {
    width: 25px;
}

.tb-education {
    width: 100%;
    text-align: left;
}

.div-skill {
    text-align: left;
}

.tb-skill {
    width: 100%;
    margin-left: 20px;
}

.ic-list {
    font-size: 10pt;
}

.ic-link {
    font-size: 16pt;
    color: gray;
}