a {
    color: #00aedb;
}

section {
    margin: auto;
    max-width: 1080px;
    /*
    border-left: 0.5px solid #dddddd;
    border-right: 0.5px solid #dddddd;
    */
}

/* Mobile or Tablet */
@media only screen and (max-width: 768px) {
    body {
        padding-top: 5px;
        line-height: 1.5;
        font-size: 1.1rem;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    body {
        padding-top: 15px;
        padding-bottom: 20px;
        line-height: 1.5;
        font-size: 1.1rem;
        /* Dotted grid background css 
            Refer to https://stackoverflow.com/questions/58391201/how-to-create-a-dotted-grid-graph-sheet-background-using-css 
        */
        background: radial-gradient(gray 1px, transparent 1px);
        background-size : 25px 25px;
    }
}

.navbar {
    font-size: 1rem;
    padding: .25rem 1rem;
    /*
    background-color: #333333 !important;
    */
    background: linear-gradient(to top, #CFDEF3, #E0EAFC);
}

.navbar-brand {
    color: #133337 !important;
}

.nav-link {
    color: #133337 !important;
}

.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    height: 49px;
    box-sizing: border-box;
    vertical-align: baseline;
}


.social-img-link {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

.social-img-link:hover {
    text-decoration: none;
    color: black;
}

.social-img {
    max-width: 20px;
    max-height: 20px;
}

